@import "font-awesome";

body {
	font-family: 'Lato', sans-serif;
	background-color: #c3bbbb;
	#header_div {
		width: 100%;
		max-width: 1140;
		margin: 0 auto;
		padding: auto;
		margin: auto;
	}
	#body_div {
		display: flex;
		align-items: flex-start;
		justify-content: space-around;
		color: #372f2f;
		#posts {
			width: 52.5%;
			line-height: 20px;
			padding-top: 10px;
			background-color: #f3f1f1;
			border-radius: 0.5em;
		}
		#books {
			float: right;
			width: 30%;
			padding-top: 20px;
			padding: 25px;
			background-color: #f3f1f1;
			border-radius: 0.5em;
			align-content: right;
			text-align: center;
		}
	}
}

.clearfix:before, .clearfix:after {
 content: " ";
 display: table;
}

.clearfix:after {
 clear: both;
}

.main_header {
	width: 100%;
	
	#logo {
		float: left;
		padding-left: 35px;
		a {
			font-family: 'Pacifico', cursive;
			text-transform: lowercase;
			font-weight: 750;
			letter-spacing: -1px;
			font-size: 4rem;
			color: #f25a5a;
		}
	}
	#buttons {
		float: right;
		padding: auto;
		padding-right: 25px;
		a {
				line-height: 145px;
				background: #f25a5a;
				padding: 1em 1.5em;
				border-radius: 0.5em;
				color: white;
				text-decoration: none;
				font-weight: 100;
				font-size: 18px;

			}
		}
	}	

#posts {
	background: #f3f1f1;
	padding: 2em 5%;
	border-radius: .5em;
	.post {
			margin: 1em 0;
			padding: 1em 0;
			border-bottom: 3.5px solid #D1d1d1;
			.title {
				margin: 0;
				a {
					color: #f25a5a;
					text-decoration: none;
					font-weight: 100;
					font-size: 1.5rem;
				}
			}
			.info {
				color: #605252;
				margin-top: 0.75rem; 
				font-size: 0.85rem;
				font-weight: 700;
			}
		}
	}

.button {
	color: #f25a5a;
	border: 1px solid #397CAC;
	padding: .5em 1em;
	border-radius: 0.2em;
	text-decoration: none; 
	margin-right: 2%;
}

#post_content {
  background: #f3f1f1;
 	padding: 2em 5%;
 	border-radius: .5em;
 	h1 {
		font-weight: 100;
		font-size: 1.75em;
		color: #f14141;
		margin-top: 0;
 	}
 	p {
		line-height: 1.5;
		font-size: 1.1rem;
		color: #372f2f;

 	}
 	.info {
		color: #605252;
		margin-top: 0.75rem; 
		font-size: 0.85rem;
		font-weight: 700;
		border-bottom: 3.5px solid #d1d1d1;
		padding-bottom: 1em;
	}

 	.buttons {
				
				float: left;
				font-size: 1em;
				padding-bottom: 1em;
				padding-top: .5em;
				a {
					color: #f25a5a;
					border: 1px solid #d1d1d1;
					padding: 1em;
					border-radius: 0.2em;
					text-decoration: none;
					
				}
			}

 
 	#comments {
		.comment {
			border-bottom: 3.5px solid #d1d1d1;
			padding-bottom: 1em;
			margin-bottom: 1em;
			.content {
				width: 75%;
				float: left;
			}
			.buttons {
				width: 25%;
				float: left;
				font-size: 0.8em;
				text-align: right;
				padding-top: 1.5em;
				a {
					color: #f68888;
					border: 1px solid #d1d1d1;
					padding: .5em;
					border-radius: 0.2em;
					text-decoration: none;
					margin-right: 2%;
				}
			}
			.comment_content {
				margin: 0;
				padding: 0;
				font-size: 1.1rem;
				color: #1c1717;
			}
			.comment_info {
				color: #605252;
				margin-top: 0.5rem; 
				font-size: 0.85rem;
				font-weight: 700;
			}
		}
	}
	input[type="submit"] {
   		background: #f68888;
   		border: none;
   		color: white;
   		font-weight: 100;
   		padding: .5em 1em;
   		border-radius: .2em;
   		font-size: 14px;
 	}
 	string {
   			width: 100%;
   			border: 1px solid #d1d1d1;
   			border-radius: .2em;
   			margin: 1em 0;
  	}
  	textarea {
   			width: 100%;
   			min-height: 200px;
   			border: 1px solid #d1d1d1;
   			border-radius: .2em;
   			margin: 1em 0;
  	}
}